body {
    background-color: rgb(241, 89, 43);
  }
  
  h1 {
    font-size: 58px;
    color: rgb(255, 255, 255);
    font-family: 'Slabo 27px', serif;
    text-align: center;
    padding-top: 100px;
  }

  h2 {
    font-size: 35px;
    color: white;
    font-family: 'Bungee', cursive;
    text-align: center;
    padding-top: 25px;
  }

  h3 {
    font-size: 20px;
    color: white;
    font-family: 'Bungee', cursive;
    text-align: center;
    padding-top: 25px;
    
  }

  p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-family: 'Bungee', cursive;
    line-height: 1.5;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    filter: drop-shadow(30px 10px 10px #1d1d1d);
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    }
    img:hover {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }

#table {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    list-style-type: none;
    line-height: 1.2;
    margin-left: auto; 
    margin-right: auto; 
    width: 200px;
    border: 2px;
    border-color: black;
    padding-bottom: 100px;
  }
  
  td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding: 5px;
  }

  th {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    line-height: 2;
  }

 
table {
  border-collapse:collapse;
  padding-bottom: 100px;
  empty-cells: hide;
}
  

  td:first-child {
    text-align: left;
    background-color: lightgrey;
    }


  td:nth-child(2) {
    text-align: left;
    background-color: rgb(228, 228, 228);
    }

    tr:first-child {
      background-color: rgb(255, 153, 0);
      border: 5px;
      border-color: rgb(255, 153, 0);
    }

    button {
      background-color: blue;
      color: white;
    }

    #new-store {
      padding: 50px;
    }

    label {
      display: block;
      float: auto;
    }